.row{
    background-color: #afd6f5;
    justify-content:center;
}
.card{
    margin:15px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px 0px;

}
.card-img-top{
    height:35vh;
}
.card:hover{
    box-shadow:4px 4px 4px 0px;
}
.card-body{
    padding-top: 0px;
    padding-bottom:10px;
}
h4{
    padding:0px;
    margin:0px;
    padding-top: 3px;
    background-color:#afd6f5;
    color:white;
    text-align: center;
}
.description{
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.details{
    display: inline
}
.alert{
    width: 83%;
    margin: 8px 0px;
}